page-user1 {
  .card-background-page {
    ion-searchbar {
      width: 100%;
      position: relative;
      z-index: 111 !important;
    }

    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .card-subtitle {
      font-size: 1em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }
    ion-card {
      position: relative;
      z-index: 1 !important;
      width: 100%;
      margin: 0px;
      text-align: center;
    }
  }
}
