page-home {
    .bg{ 
        background:linear-gradient(to bottom,#42f4b0 0%,#fff 100%);
    
    }
    .grid{
    margin-top:60vh;
      
    }
   
}   .btn{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
